<%- include ("./partials/headerAdmin") %>

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="text-center position-relative d-flex justify-content-end" style="margin-right: 70px;" >
                <div class="rounded-circle overflow-hidden" style="width: 200px; height: 200px;">
                    <img
                        src="../uploads/profilePicture-1683213075645.jpg"
                        alt="Profile Picture"
                        class="w-100 h-100"
                    />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Vintage Sales</h3>
            <p><strong>Email:</strong> vintagesales@gmail.com</p>
        </div>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button class="btn"><a class="btn btn-outline-dark" href="/dashboard/objects">objects page</a></button>
                    <button class="btn"><a class="btn btn-outline-dark" href="/dashboard/users">users page</a></button>
                    <button class="btn"><a class="btn btn-outline-dark" href="/dashboard/faqsAdmin">faqs page</a></button>
                    <button class="btn"><a class="btn btn-outline-dark" href="/dashboard/terms-of-use-admin">terms-of-use</a></button>
                    <button class="btn"><a class="btn btn-outline-dark" href="/dashboard/privacy-policy-admin">Privacy-Policy</a></button>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %>
